.flowpath {
  padding: 15px 20px 0;
}
.flow_one {
  padding: 0 20px 0;
}

.innerFlowpath {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 15px;
  h2 {
    color: #0d1023;
    font-size: 18px;
    font-weight: 800;
  }
  .steps {
    width: 50%;
    margin-top: 15px;
  }
}
